/* Estilização básica do aplicativo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 0.5rem 0;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #3498db;
    color: white;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
}


/* botão de adicionar atendimento */

.add-btn {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-btn:hover {
    background-color: #219653;
}

#appointmentList {
    list-style: none;
    padding: 0;
}

.appointment-item {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    cursor: pointer; /* Adicionando cursor: pointer para indicar que é clicável */
    position: relative; /* Adicionando position: relative */
}

.appointment-item-text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appointment-item-text.expanded {
    white-space: normal; /* Exibir o texto completo */
    overflow: visible;
    text-overflow: unset;
}

.appointment-delete {
    color: #e74c3c;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    font-size: 16px;
}

.add-btn {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-btn:hover {
    background-color: #219653;
}